/*
<div class="book-tile__wrapper">
  <div class="books__card">
    <div class="books__card-content">
      <img/>
      <span class="books__title-text"></span>
    </div>
    <div class="books__action-btns-col">
      <span class="add-btn"></span>
      <span class="info-btn"></span>
    </div>
  </div>
</div>
*/

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
}
.books {
  font-family: 'Roboto', sans-serif;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__card {
    cursor: default;
    position: relative;
    width: 200px;
    height: 280px;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba($color: #926027, $alpha: 0.4);
    box-shadow: 4px 4px 4px 2px rgba($color: #0c3855, $alpha: 0.2);
    margin: 25px;
  }
  &__card-content {
    width: 200px;
    height: 240px;
    position: relative;
    span {
      font-size: x-large;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    img {
      padding: 10px;
    }
  }
  &__action-btns-col {
    span {
      background-color: white;
      border: 2px solid rgba($color: #0c3855, $alpha: 0.2);
      border-radius: 10px;
      padding: 0 10px 0 10px;
      color: rgba($color: #0c3855, $alpha: 0.8);
      font-size: 16pt;
    }
    span:hover {
      background-color: rgba($color: #0c3855, $alpha: 0.8);
      border: 2px solid rgba($color: #0c3855, $alpha: 0.8);
      border-radius: 10px;
      padding: 0 10px 0 10px;
      color: white;
      font-size: 16pt;
    }
  }
  .btn {
    cursor: pointer;
  }
}
